.collapseContainer {
  display: block;

  .collapseHeader {
    width: 335px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;

    &.open {
      border-bottom: none;
    }
    .icon-arrow__top {
      width: 20px;
      height: 20px;
      background: url("../../../../../public/images/ic20CommonArrowTop.svg");
    }
    .icon-arrow__bottom {
      width: 20px;
      height: 20px;
      background: url("../../../../../public/images/ic20CommonArrowBottom.svg");
    }
  }

  .collapseBody {
    width: 335px;
    min-height: 482px;
    padding: 10px 20px;
    background-color: #f9f9f9;
  }
}
