.collapseContainer {
    display: block;

    .collapseHeader {
        width: 500px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
        padding: 10px 20px;

        &.open {
            border-bottom: none;
        }
    }

    .collapseBody {
        width: 500px;
        min-height: 300px;
        // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 10px 20px;
        border-bottom: 1px solid lightgray;

  
    }
}