/* fade in */

@keyframes slide-fade-in-animation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.back {
  background-color: blue;
}

.slide-fade-in {
  overflow: hidden;
  background: yellow;
}

.slide-fade-in > ul {
  animation: slide-fade-in-animation 0.4s ease;
}
