/* 메뉴 */
.menuContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:hover {
    cursor: pointer;
  }
}

/* 기본메뉴상태 */
.menuSelector {
  display: flex;
  width: 100%x;

  .selectBtn {
    font-size: 1rem;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid black;
    border-width: thin;
    border-color: lightgray;
    padding: 10px;
    width: 100%;
  }

  .buttonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.dropdownMenuContainer {
  position: absolute;
  background: #ffffff;
  border-radius: 8px;
  top: calc(3em);

  width: 150px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
/* 메뉴박스 오픈상태 */
.dropdownMenu {
  height: 150px;
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 10px 15px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
.dropdownMenu::-webkit-scrollbar {
  display: none;
}

.dropdownItemContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.drodownItemSelect {
  font-weight: bold;
}
.dropdownItem {
  font-weight: bold;
}
