.badge {
  display: inline-block;
  font-size: 0;
  text-indent: -9999px;
}

.badgeCustody {
  width: 12px;
  height: 12px;
  background: url('/images/badge/badge-delivery-orange.png') center/cover no-repeat;
}

.badgeCustodyText {
  width: 56px;
  height: 12px;
  background: url('/images/badge/badge-delivery-text.png') center/cover no-repeat;
}

.badgeGrade {
  width: 20px;
  height: 20px;
  background: url('/images/badge/badge-grade.png') center/cover no-repeat;
}

.badgeSecondhand {
  width: 20px;
  height: 20px;
  background: url('/images/badge/badge-secondhand.png') center/cover no-repeat;
}

.badgeUnderRetail {
  width: 20px;
  height: 20px;
  background: url('/images/badge/badge-under-retail.png') center/cover no-repeat;
}