.itemCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 5px;
  align-items: flex-start;
}

.itemName {
  display: -webkit-box;
  padding-top: 15px;
  font-size: 14px;
  color: #666;
  line-height: 1.2;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: keep-all;
  -webkit-box-orient: vertical;

  &.lineClamp2 {
    -webkit-line-clamp: 2;
  }

  &.lineClamp3 {
    -webkit-line-clamp: 3;
  }
}

.itemPrice {
  padding: 10px 0 20px;
  font-weight: 600;

  span {
    vertical-align: middle;
  }
}

.badge {
  display: inline-block;
  font-size: 0;
  text-indent: -9999px;
}

.badgeCustody {
  width: 12px;
  height: 12px;
  background: url('../../../../public/badge/badge-delivery-orange.png') center/cover no-repeat;
}

.badgeGrade {
  width: 20px;
  height: 20px;
  background: url('../../../../public/badge/badge-grade.png') center/cover no-repeat;
}

.badgeSecondhand {
  width: 20px;
  height: 20px;
  background: url('../../../../public/badge/badge-secondhand.png') center/cover no-repeat;
}

.badgeUnderRetail {
  width: 20px;
  height: 20px;
  background: url('../../../../public/badge/badge-under-retail.png') center/cover no-repeat;
}